.nav {
    width: 100%;
    background-color: orange;
    padding: 2rem;
    box-shadow: 0 0 0.8125rem rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 99;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);

}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around
  }

  .navbar li {
    display: inline-block;
    padding: 26px 0;
    width: 33.3%;
    text-align: center;
}